pandas
panel
bokeh
pyspark==3.1.1
jupyter
graphframes
findspark
scikit-learn
notebook
ipykernel
SQLAlchemy
matplotlib
seaborn
pamela
scipy
sympy
requests
nptyping
pylint
pytest
black
python-dotenv
plotly
openpyxl
jupyter_bokeh
ipywidgets_bokeh
ydata_profiling
shapely
tensorflow
blaze
odo
torch
torchvision
torchaudio
xgboost
pyprind
nltk
mlxtend
watermark
session_info
pca